body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2136af;
}

.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
}

.display {
    background-color: #000;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #666;
    color: #fff;
}

button:hover {
    background-color: #555;
}

p{
width: 30%;
text-align: left;


}